.home {
    margin-top: 150px;
    margin-left: 120px;
}
.home h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.but {
    margin-top: 20px;
    margin-left: 280px;
}